

.modal {
    background: rgba(217, 212, 212, 0.8); /* Slight transparency */
    position: fixed; /* Make it fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Cover the entire screen */
    display: flex; /* Center the modal content */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears on top */
  transition: opacity 0.3s ease;

  }
  
  
  .modal-content {
    display: flex;
    flex-direction: column;
    background: #7e7ec9;
    border-radius: 5px; /* Optional: Rounded corners */
    padding: 20px; /* Add some padding */
    width: 300px; /* Increase width if needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  }
  

  .close {
    cursor: pointer; /* Change cursor on hover */
    font-size: 24px; /* Increase size for better visibility */
    color: white; /* Change color to stand out */
    position: absolute; /* Position it in the top right corner */
    top: 10px;
    right: 15px;
  }

  .btn-primary:hover {
    background-color: #5a5ab4; /* Darken on hover */
  }
  
  .btn-secondary:hover {
    background-color: #5a5a7e; /* Darken on hover */
  }

  @media (max-width: 500px) {
    .modal-content {
      width: 90%; /* Full width on smaller screens */
    }
  }
  
  
  
   