
html {
  background: #7e7ec9;
}



.App {
  background: #7e7ec9;
  padding: 70px;
  
}

form {
  display: flex;
  flex-direction: column;
}


h1 {
  text-align: center;
  
}

.btn-block {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.form-control {
  display: block;
  width: 100%;
  margin-top: 30px;
 
}

<<<<<<< HEAD




=======
div {
  width:100%
}
>>>>>>> 85cedfc297ad88a461f748d4beee4987498877b8


.list-group {
  display: flex;
}

li.list-group-item {
    margin:5px ;
}


.date {
    color: blue;
}


button.btn.btn-primary.btn-block {
  margin-bottom: 10px;
}

.remove.btn.btn-danger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(300px, -50%);
}

.text {
  line-height: 1.5;
  width: fit-content;
}



@media (max-width: 992px) {
  input.input2 {
    width: 135%;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  .remove.btn.btn-danger {
    position: absolute;
    top: 30px;
    left: -21pc;
    border-radius: 50%;
  }
}



.btn-block {
    display: block;
    width:100%;
    margin-top:10px;
}

